In [66]:
import pandas as pd
import numpy as np
import swifter

In [25]:
df = pd.read_pickle('DATA/light_data.pkl')
user_list = pd.read_csv('DATA/user_list.csv')
page_list = pd.read_csv('DATA/page_list.csv')

In [71]:
user_num = len(user_list)
page_num = len(page_list)
page_num

946

In [144]:
df

            u_i  p_i week_start_date  reaction_time
0             0    1      2016-07-31              0
1             0   25      2016-07-31              0
2             0   47      2016-07-31              0
3             0   62      2016-07-31              0
4             0   75      2016-07-31              0
...         ...  ...             ...            ...
25543569  99999  161      2016-10-30              0
25543570  99999  355      2016-10-30              0
25543571  99999  527      2016-10-30              0
25543572  99999  805      2016-10-30              0
25543573  99999  884      2016-10-30              0

[25543574 rows x 4 columns]

In [27]:
network_column_name = ['u_i', 'p_i', 'reaction_time']

In [28]:
weeks = sorted(df.week_start_date.unique())
week_1 = df[df['week_start_date'] == min(weeks)][network_column_name]
week_1

           u_i  p_i  reaction_time
0            0    1              0
1            0   25              0
2            0   47              0
3            0   62              0
4            0   75              0
...        ...  ...            ...
1824536  99999  161              0
1824537  99999  355              0
1824538  99999  527              1
1824539  99999  805              0
1824540  99999  884              0

[1824541 rows x 3 columns]

In [166]:
A_matrix = np.zeros((user_num, page_num))

A_matrix[week_1.u_i, week_1.p_i] = week_1.reaction_time

In [167]:
A_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [85]:
def degree_centrality(A, axis):
    return((np.sum(A, axis = axis)))

In [89]:
pageDC = degree_centrality(A_matrix, axis=0)
userDC = degree_centrality(A_matrix, axis=1)

In [94]:
max_page_cd = np.where(pageDC == np.max(pageDC))
max_user_cd = np.where(userDC == np.max(userDC))

In [103]:
page_list[ page_list.p_i == max_page_cd[0][0]]

     p_i       page_id
373  373  153080620724

In [104]:
user_list[user_list.u_i == max_user_cd[0][0]]

         u_i            user_id
73687  73687  10202933725538749

In [141]:
class Centrality:
    def __init__(self, A):
        self.A = A

In [142]:
class DegreeCentrality(Centrality):
    def __init__(self, A):
        super.__init__(A)